*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#41295a, #2F0743);   
}

/* :root{
    color-scheme: black;
} */
.currencyLib{
    width: 90%;
    height: 4000px;
    background-image: linear-gradient(#41295a, #2F0743);
    margin: auto;
}